@import 'styles/mixins';
@import 'styles/media';

.main-block {
  height: 100vh;
  width: 70vw;
  overflow-y: auto;
  overflow-x: hidden;

  h1 {
    text-align: center;
    width: 75%;
  }

  @include fromPhonesToTablet() {
    width: 100vw;
    height: 90vh;

    h1 {
      width: 100%;
    }
  }
}