$margin: 50px;

.page {
  width: 100%;
  height: calc(100vh - 100px);
  border: 1px solid black;

  &:first-of-type {
    margin-top: $margin;
  }

  &:last-of-type {
    margin-bottom: $margin;
  }
}