*:focus {
  outline: none;
}

.round-button {
  width: $btn-size;
  height: $btn-size;
  border-radius: $radius;
  color: black;
  background: transparent;
  border: 1px solid transparent;
  font-size: 200%;
  cursor: pointer;
  outline: none;

  &:hover {
    color: gray;
  }
}
