*:focus {
  outline: none;
}

.text-align-center {
  text-align: center;
}

.invisible {
  display: none;
}

.round-button {
  width: $btn-size;
  height: $btn-size;
  border-radius: $radius;
  color: black;
  background: transparent;
  border: 1px solid transparent;
  font-size: 200%;
  cursor: pointer;
  outline: none;

  &:hover {
    color: gray;
  }
}

.to-top {
  position: fixed;
  top: calc(100% - 150px);
  left: calc(100% - 60px);
}

.bot-center {
  position: absolute;
  top: calc(100% - 60px);
  left: calc(50% - 50px / 2);
  z-index: 10;
  animation: pulse 2s infinite;
}

header, footer {
  z-index: 11;

  @include flex-center(row);
}

.page-0, .page-1 {
  text-align: center;

  @include flex-center(column);
}

.block-with-blocks {
  @include flex();

  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  .common-block {
    width: 15px;
    height: 10px;
    border: 1px solid black;
    margin: 5px;
    cursor: pointer;

    @include flex-center(column);

    .img-wrapper {
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
    }

    .inner {
      display: none;
    }
  }
}

.instruction {
  @include flex();

  justify-content: space-around;
  align-items: stretch;

  .step {
    flex: 1;
    margin: 3rem;
    padding: 1rem;
    text-align: center;
    background: white;
    box-shadow: 0 0 4px 4px gray;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: -2.2rem;
      top: -0.5rem;
      font-size: 2rem;
      font-weight: bolder;
    }

    &:first-child {
      &::before {
        content: '1.';
      }
    }

    &:last-child {
      &::before {
        content: '2.';
      }
    }
  }
}
