@import 'styles/mixins';
@import 'styles/media';
@import 'styles/animation';

.side-block {
  position: relative;
  height: 100vh;
  width: 30vw;
  padding: 0 5px 0 5vw;
  background-color: #DEDEDE;

  &:not(.open) {
    width: 20px;
    margin-left: 15vw;
    animation: close ease 0.5s;

    & > *:not(.sideblock-btn) {
      opacity: 0;
      position: absolute;
      top: -9999px;
      animation: hide ease 0.5s;
    }
  }

  &:not(.close) {
    animation: open ease 0.5s;

    & > *:not(.sideblock-btn) {
      
      position: static;
      animation: show ease 0.5s;
    }
  }

  .about {
    text-align: center;
  }

  .sideblock-btn {
    position: absolute;
    top:0;
    right: 0;
  }

  h2 {
    text-align: center;
  }

  @include flex-center(column);

  @include fromPhonesToTablet() {
    width: 100vw; 
    height: 10vh;
  }

  img {
    max-height: 35vh;
  }
}